---
import { Image } from 'astro:assets';
import NoiseBg from '../NoiseBg.astro';
import sunFlow from '@/assets/sunflow.png';
import Button from '../ui/Button.astro';
import AreaButton from '@/components/ui/AreaButton.astro';
import BadgeTitle from '@/components/BadgeTitle.astro';
---

<NoiseBg class="relative overflow-hidden">
  <Image
    src={sunFlow}
    alt=""
    width={1500}
    height={500}
    class="pointer-events-none absolute inset-0 top-0 left-0 opacity-20"
  />
  <div class="container space-y-12">
    <div class="flex items-center py-8">
      <BadgeTitle
        badge="Service Area"
        title="Serving Homeowners from Colorado Springs to Fort Collins"
        titleClass="max-w-[530px]"
      />
      <Button> View All Service Areas </Button>
    </div>

    <div class="rounded-2xl bg-linear-to-b from-white/15 via-white/5 via-60% to-white/0 to-100% px-0.5 pt-0.5">
      <NoiseBg class="flex flex-col items-center gap-y-3 rounded-2xl bg-[#252525] py-8">
        <ul class="flex flex-wrap items-center justify-center gap-3">
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
        </ul>
        <ul class="flex flex-wrap items-center justify-center gap-3">
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
        </ul>
        <ul class="flex flex-wrap items-center justify-center gap-3">
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
          <li><AreaButton area="Aurora" /></li>
        </ul>
      </NoiseBg>
    </div>

    <div class="border-primary/10 container h-[575px] rounded-2xl border-2 bg-[#111]"></div>
  </div>
</NoiseBg>
