---
import { cn } from '@/lib/utils';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'label'>;
const { class: className, ...props } = Astro.props;
---

<label
  data-slot="field-label"
  class={cn(
    'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
    'has-data-checked:bg-primary/5 has-data-checked:border-primary/30 dark:has-data-checked:border-primary/20 dark:has-data-checked:bg-primary/10 gap-2 group-data-[disabled=true]/field:opacity-50 has-[>[data-slot=field]]:rounded-lg has-[>[data-slot=field]]:border *:data-[slot=field]:p-2.5 group/field-label peer/field-label flex w-fit leading-snug',
    'has-[>[data-slot=field]]:w-full has-[>[data-slot=field]]:flex-col',
    className
  )}
  {...props}
>
  <slot />
</label>
