---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '@/components/hero/Hero.astro';
import Brands from '@/components/Brands.astro';
import CTASection from '@/components/cta/CTASection.astro';
import Footer from '@/components/Footer.astro';
import QuoteForm from '@/components/cta/QuoteForm.astro';

import { Icon } from 'astro-icon/components';
import Button from '@/components/ui/Button.astro';
import RatingStars from '@/components/ui/RatingStars.astro';
import AboutSection from '@/components/home/AboutSection.astro';
import Testimonials from '@/components/Testimonials.astro';
import Process from '@/components/process/Process.astro';

import step1 from '@/assets/steps/step-1.png';
import step2 from '@/assets/steps/step-2.png';
import step3 from '@/assets/steps/step-3.png';
import step4 from '@/assets/steps/step-4.png';
import ServiceAreas from '@/components/service-area/ServiceAreas.astro';
import Faqs from '@/components/faqs/Faqs.astro';
import RecentArticales from '@/components/articales/RecentArticales.astro';
import NoiseBg from '@/components/NoiseBg.astro';
import TeamCard from '@/components/TeamCard.astro';

const processSteps = [
  {
    image: step1,
    step: 'Step 1',
    title: 'Contact Our Team',
    description: 'Get in touch with us by phone or fill out a form! Our customer service team is on standby.',
  },
  {
    image: step2,
    step: 'Step 2',
    title: 'Schedule Inspection',
    description: 'We will schedule a convenient time to inspect your roof and assess the project scope.',
  },
  {
    image: step3,
    step: 'Step 3',
    title: 'Review Your Proposal',
    description: 'Receive a detailed proposal outlining the work, timeline, and transparent pricing.',
  },
  {
    image: step4,
    step: 'Step 4',
    title: 'Project Completion',
    description: 'Our expert team completes the project to the highest standards with a final walkthrough.',
  },
];
---

<Layout title="About Us | Denver Roofing Company | Black Knight Roofing">
  <Navbar />
  <Hero
    title="Meet the Team of Experts <br/> That Gets Your Roofing Job Done"
    subtitle="Colorado's #1 Veteran-Owned Roofing Company"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur. Dictum morbi ac nibh nibh leo vitae at id faucibus. Ultrices duis tempor
      eget proin euismod sed dolor eu suspendisse. Amet ridiculus erat sit vulputate. Dui est feugiat risus ultrices.
    </p>

    <div class="flex items-center gap-x-4">
      <Button variant="primary" size="lg">
        <span class="text-xs"> $99/month roofs <br /> No repayment penalty</span>
        <span class="h-6 w-0.5 bg-[rgba(133,89,1,0.4)]"></span>
        <span> <strong> FREE </strong> Estimate</span>
      </Button>

      <Button variant="link">
        <Icon name="map" />
        See Our Past Work
      </Button>
    </div>

    <Fragment slot="social-proof">
      <div class="flex items-center gap-x-4 pr-4">
        <Icon name="google-logo" size={32} />
        <div>
          40+ Five-Star <br />
          Google Reviews
        </div>
      </div>

      <div class="flex items-center gap-x-4 px-4">
        <Icon name="facebook-logo" size={32} />
        <div>
          <RatingStars rating={5} size={10} fillColor="white" strokeColor="none" />
          <span class="text-sm font-bold"> 5.0 Rating </span>
        </div>
      </div>

      <div class="flex items-center gap-x-4 pl-4">
        <Icon name="google-logo" size={32} />
        <div>
          <RatingStars rating={5} size={10} fillColor="white" strokeColor="none" />
          <span class="text-sm font-bold"> 5.0 Rating </span>
        </div>
      </div>
    </Fragment>

    <QuoteForm slot="sidebar" />
  </Hero>
  <div class="relative">
    <div class="absolute inset-x-0 top-0 h-px bg-linear-to-r from-transparent via-[#F2C744]/50 to-transparent"></div>
    <Brands />
  </div>
  <AboutSection />

  <NoiseBg>
    <div class="container space-y-12 py-20">
      <h2>Meet the Black Knight Roofing Team</h2>
      <div class="grid grid-cols-4 gap-x-5 gap-y-12">
        <TeamCard
          teamMember={{
            image: '/placeholders/teams/1.png',
            name: 'Dan Crowder',
            position: 'Founder & Managing Director',
          }}
        />
        <TeamCard
          teamMember={{
            image: '/placeholders/teams/2.png',
            name: 'Dan Crowder',
            position: 'Founder & Managing Director',
          }}
        />
        <TeamCard
          teamMember={{
            image: '/placeholders/teams/3.png',
            name: 'Dan Crowder',
            position: 'Founder & Managing Director',
          }}
        />
        <TeamCard
          teamMember={{
            image: '/placeholders/teams/4.png',
            name: 'Dan Crowder',
            position: 'Founder & Managing Director',
          }}
        />

        <TeamCard
          teamMember={{
            image: '/placeholders/teams/1.png',
            name: 'Dan Crowder',
            position: 'Founder & Managing Director',
          }}
        />
        <TeamCard
          teamMember={{
            image: '/placeholders/teams/2.png',
            name: 'Dan Crowder',
            position: 'Founder & Managing Director',
          }}
        />
        <TeamCard
          teamMember={{
            image: '/placeholders/teams/3.png',
            name: 'Dan Crowder',
            position: 'Founder & Managing Director',
          }}
        />
        <TeamCard
          teamMember={{
            image: '/placeholders/teams/4.png',
            name: 'Dan Crowder',
            position: 'Founder & Managing Director',
          }}
        />
      </div>
    </div>
  </NoiseBg>

  <Testimonials />
  <Process steps={processSteps} />
  <ServiceAreas />
  <Faqs />
  <RecentArticales />
  <div class="relative">
    <div class="absolute inset-x-0 top-0 h-px bg-linear-to-r from-transparent via-[#F2C744]/50 to-transparent"></div>
    <Brands />
  </div>
  <CTASection />
  <Footer />
</Layout>
