---
import { Icon } from 'astro-icon/components';
import { cn } from '@/lib/utils/index';

interface Props {
  href: string;
  title: string;
  description?: string;
  icon?: string;
  variant?: 'normal' | 'location';
}

const { href, title, description, icon, variant = 'normal' } = Astro.props;
---

<a
  href={href}
  class={cn('group/popover flex w-full gap-x-4 transition-all', variant === 'normal' ? 'items-start' : 'items-center')}
>
  {
    icon && (
      <div class="text-primary flex h-8 w-8 shrink-0 items-center justify-center rounded-lg bg-radial from-[#303030] to-[#30303000] to-50% p-2 ring-1 ring-white/5 transition-transform group-hover/popover:scale-110">
        <Icon name={icon} size={24} class="h-full w-full" />
      </div>
    )
  }
  <div class={cn('flex flex-col', variant === 'normal' ? 'gap-y-1' : 'gap-y-0')}>
    <h4
      class={cn(
        'text-sm font-body font-medium group-hover/popover:underline leading-none transition-colors',
        variant === 'normal' ? 'text-primary hover:text-secondary' : 'text-white'
      )}
    >
      {title}
    </h4>
    {description && <p class="text-xs leading-snug font-normal text-[#ccc]">{description}</p>}
  </div>
</a>
