---
import { Icon } from 'astro-icon/components';
import { cn } from '@/lib/utils/index';

interface Props {
  label: string;
  popoverTitle?: string;
  href?: string;
  containerClass?: string;
  gridClass?: string;
  plain?: boolean;
  full?: boolean;
}

const { label, popoverTitle, href = '#', containerClass, gridClass, plain, full } = Astro.props;
---

<div class="popover-item group relative py-1">
  <button
    class="popover-trigger group/trigger hover:text-primary flex cursor-pointer items-center gap-x-1 px-3 transition-colors active:scale-95"
    data-popover-id={label.toLowerCase().replace(/\s+/g, '-')}
  >
    <span class="text-sm font-medium">{label}</span>
    <Icon
      name="chevron-down"
      size={10}
      class="shrink-0 text-[#AFB1B6] transition-transform group-hover/trigger:rotate-180"
    />
  </button>

  <!-- Template Content (hidden, moved to viewport by JS) -->
  <div
    class={cn(
      'popover-content pointer-events-none invisible absolute top-full left-1/2 -translate-x-1/2 opacity-0',
      containerClass ? containerClass : 'w-[313px]'
    )}
    data-popover-content={label.toLowerCase().replace(/\s+/g, '-')}
    data-popover-full={full ? 'true' : 'false'}
  >
    {
      plain ? (
        <slot />
      ) : (
        <div class="relative flex flex-col gap-y-5 overflow-hidden rounded-2xl bg-[#111] p-6 shadow-2xl ring-1 ring-white/15">
          {popoverTitle && <h6 class="font-heading text-xl font-normal text-white">{popoverTitle}</h6>}

          <div class={cn('flex flex-col gap-y-4', gridClass)}>
            <slot />
          </div>
        </div>
      )
    }
  </div>
</div>
