---
import { Image } from 'astro:assets';
import topShape from '@/assets/top-shape.png';
import NoiseBg from '../NoiseBg.astro';
import RecentProjectCard from './RecentProjectCard.astro';
---

<NoiseBg class="relative overflow-hidden px-0">
  <Image src={topShape} alt="Top Shape" class="inset-x-0 top-0 left-0 -mt-11 w-full" />

  <div class="container -mt-16 flex flex-col items-center space-y-4 border-b border-[#444444] pb-8">
    <div class="flex items-center gap-x-3">
      <div
        class="relative size-5 rounded-[5px] bg-[#F7B715]/50 drop-shadow-2xl before:absolute before:top-1/2 before:left-1/2 before:size-2 before:-translate-1/2 before:rounded-full before:bg-[#F7D515] before:content-['']"
      >
      </div>
      <div>Recent Projects</div>
    </div>
    <h2>Our Handcrafted Roofs</h2>
  </div>

  <div class="py-10">
    <div class="container mt-16 flex items-center justify-center gap-x-2">
      <RecentProjectCard
        image="/placeholders/projects/project-1.jpg"
        title="EDCO Metal Siding (Charcoal Gray)"
        category="Roofing"
      />
      <RecentProjectCard
        image="/placeholders/projects/project-2.jpg"
        title="Asphalt Shingle Replacement"
        category="Roofing"
      />
      <RecentProjectCard
        image="/placeholders/projects/project-3.jpg"
        title="Cedar Shake Restoration"
        category="Siding"
      />
      <RecentProjectCard
        image="/placeholders/projects/project-4.jpg"
        title="Standing Seam Metal Roof"
        category="Roofing"
      />
    </div>
  </div>
</NoiseBg>
